footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    box-shadow: 0 0 8px #D3D3D3;
}
footer > *{
    width: 80%;
}
footer .footer-infos{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
}
footer .footer-infos .banner{
    display: flex;
    align-items: center;
    width: 35%;
}
footer .footer-infos .banner p{
    text-align: justify;
    font-size: 18px;
    margin-left: 15px;
}
footer .footer-infos .banner figure img{
    height: 100px;
}
footer .footer-infos .footer-links{
    display: flex;
    width: 50%;
    justify-content: space-between;
}
footer .footer-infos .footer-links ul{
    padding: 0;
}
footer .footer-infos .footer-links ul h3 {
    margin: 0 0 10px 0;
}
footer .footer-infos .footer-links ul li{
    display: block;
}
footer .footer-infos .footer-links ul li a{
    text-decoration: none;
    color: black;
}
footer .footer-infos .footer-links .general-links hr{
    width: 100%;
}
footer .footer-infos .footer-links .contact-links .unxwares a{
    display: flex;
    align-items: center;
}

footer .footer-infos .footer-links .contact-links .unxwares a img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
footer hr{
    margin: 3px 0;
    width: 80%;
    border: none;
    border-top: 1px double #333;
    color: #333;
}
footer .copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .copyright p{
    display: flex;
    align-items: center;
    font-size: 16px;
}
footer .copyright p a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}
footer .copyright p a img{
    width: 25px;
    height: 25px;
    margin: 0 4px;
}
