main #whoarewe {
    width: 45%;
    margin: 30px auto;
    max-width: 864px;
}
main #whoarewe > *{
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1.5s ease, transform 1.5s ease;
}
main #whoarewe.animate > *{
    opacity: 1;
    transform: initial;
}
main #whoarewe.animate p{
    transition-delay: 0.075s;
}
main #whoarewe.animate .whoarewe-buttons{
    transition-delay: 0.15s;
}
main #whoarewe .vff-title img{
    width: 70px;
    height: 70px;
}
main #whoarewe .vff-title{
    display: flex;
    align-items: center;
    justify-content: center;
}
main #whoarewe .vff-title h1{
    margin: 0 0 0 10px;
}
main #whoarewe p{
    text-align: justify;
}
main #whoarewe .whoarewe-buttons{
    text-align: center;
}
main #whoarewe .whoarewe-buttons a{
    text-decoration: none;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
    text-transform: uppercase;
    padding: 9px 26px;
    margin: 5px 15px 18px;
    display: inline-block;
    white-space: nowrap;
    outline: none;
    transition: transform .3s ease 0s;
    transform: initial;
    color: #fff;
    background-color: #ff6500;
    font-family: Gabarito, cursive;
}
main #whoarewe .whoarewe-buttons a:hover{
    text-decoration: none;
    transform: scale(.95);
}
main #whoarewe .whoarewe-buttons a:focus{
    outline: solid #ff6500;
}
